<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Projects - Brand</title>
    <link rel="stylesheet" th:href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" th:href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" th:href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" th:href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" th:href="assets/css/Navigation-with-Search.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" th:href="#">AweShelter</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" th:href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="admin.html">Admin</a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="adopt.html">Adopt</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page projets-page">
        <section class="portfolio-block project-no-images">
            <div class="container">
                <div class="heading">
                    <h2>adopt</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>PET 1</h3>
                            <h3 style="margin-bottom: 5px;">Age:</h3>
                            <h6 style="color: rgb(147,147,147);">proin<br></h6>
                            <h3 style="margin-bottom: 5px;">Breed:</h3>
                            <h6 style="color: rgb(147,147,147);">lacinia at<br></h6>
                            <div class="tags"></div><a class="btn btn-outline-primary btn-sm" role="button" id="edit-5" th:href="information.html" style="background: #00d1ff;color: black;font-weight: bold;">Select</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>PET 2</h3>
                            <h3 style="margin-bottom: 5px;">Age:</h3>
                            <h6 style="color: rgb(147,147,147);">proin<br></h6>
                            <h3 style="margin-bottom: 5px;">Breed:</h3>
                            <h6 style="color: rgb(147,147,147);">lacinia at<br></h6>
                            <div class="tags"></div><a class="btn btn-outline-primary btn-sm" role="button" id="edit-7" th:href="information.html" style="background: #00d1ff;color: black;font-weight: bold;">Select</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>PET 3</h3>
                            <h3 style="margin-bottom: 5px;">Age:</h3>
                            <h6 style="color: rgb(147,147,147);">proin<br></h6>
                            <h3 style="margin-bottom: 5px;">Breed:</h3>
                            <h6 style="color: rgb(147,147,147);">lacinia at<br></h6>
                            <div class="tags"></div><a class="btn btn-outline-primary btn-sm" role="button" id="edit-8" th:href="information.html" style="background: #00d1ff;color: black;font-weight: bold;">Select</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>PET 4</h3>
                            <h3 style="margin-bottom: 5px;">Age:</h3>
                            <h6 style="color: rgb(147,147,147);">proin<br></h6>
                            <h3 style="margin-bottom: 5px;">Breed:</h3>
                            <h6 style="color: rgb(147,147,147);">lacinia at<br></h6><a class="btn btn-outline-primary btn-sm" role="button" id="edit-3" th:href="information.html" style="background: #00d1ff;color: black;font-weight: bold;">Select</a>
                            <div class="tags"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>PET 5</h3>
                            <h3 style="margin-bottom: 5px;">Age:</h3>
                            <h6 style="color: rgb(147,147,147);">proin<br></h6>
                            <h3 style="margin-bottom: 5px;">Breed:</h3>
                            <h6 style="color: rgb(147,147,147);">lacinia at<br></h6>
                            <div class="tags"></div><a class="btn btn-outline-primary btn-sm" role="button" id="edit-6" th:href="information.html" style="background: #00d1ff;color: black;font-weight: bold;">Select</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="project-card-no-image">
                            <h3>PET 6</h3>
                            <h3 style="margin-bottom: 5px;">Age:</h3>
                            <h6 style="color: rgb(147,147,147);">proin<br></h6>
                            <h3 style="margin-bottom: 5px;">Breed:</h3>
                            <h6 style="color: rgb(147,147,147);">lacinia at<br></h6>
                            <div class="tags"></div><a class="btn btn-outline-primary btn-sm" role="button" id="edit-4" th:href="information.html" style="background: #00d1ff;color: black;font-weight: bold;">Select</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer">
        <footer class="footer-clean">
            <p class="copyright">AweShelter © 2022</p>
        </footer>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>